.game {
  border: 2px inset black;
  height: 100%;
  width: 100%;
}

/* General styling */
td {
  border: 2px dotted black;
  border-radius: 9px;
  width: 90px;
  height: 120px;
  margin: 3px;
  padding: 6px;
}

/* Card container */
.cards-container {
  display: none;
  position: relative;
}

.card-name {
  position: absolute;
  padding: 3px;
  margin: 1px;
  top: 0;
  right: 5px;
  text-align: center;
  font-size: smaller;
}

.card-stat {
  position: absolute;
  padding: 5px;
  margin: 3px;
  height: 10px;
  line-height: 0.5;
  vertical-align: middle;
  font-size: medium;
  text-align: center;
}

.stat-defense {
  top: 0;
  left: 0;
  border: 3px outset rgb(0, 255, 0);
  background-color: chartreuse;
}

.stat-attack {
  bottom: 0;
  left: 0;
  border: 3px outset red;
  background-color: #ff3232;
}

.stat-range {
  bottom: 0;
  right: 0;
  border: 3px inset cyan;
  background-color: cyan;
  border-radius: 20px;
}

/* Player and Enemy styles */
.player {
  background-color: rgba(50, 150, 255, 0.33);
  border: 3px solid #3296ff;
  width: 100%;
  height: 50%;
  bottom: 0;
  top: auto;
}

.enemy {
  background-color: rgba(255, 50, 50, 0.33);
  border: 3px solid #ff3232;
  height: 50%;
  width: 100%;
  top: 0;
}

/* Battlefields */
.battlefield {
  background-color: rgba(0, 0, 0, 0.33);
  margin: 16px;
  padding: 8px;
  display: flex;
  align-content: stretch;
  justify-content: space-around;
}

.battlefield .frontline,
.battlefield .backline {
  width: 100%;
  border: 1px dashed rgba(0, 0, 0, 0.66);
  padding: 16px;
  display: flex;
  justify-content: space-around;
}

/* Slots and Cards */
.slot {
  border: 3px solid black;
  box-shadow: 2px 2px 0px rgba(0, 0, 1, 0.604);
  background: radial-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.33) 80%, transparent 100%);
  max-width: 90px;
  max-height: 120px;
  z-index: -1;
  perspective: 500px;
  top: 0;
  left: 20%;
}

.slot .card-image {
  height: inherit;
  width: inherit;
}

.slot:hover {
  box-shadow: 0 0 32px 1px rgba(0, 0, 0, 0.33);
}

/* Player field specific styles */
.playerfield {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerfield .player_hand td {
  
}

.playerfield .player_cards td {
  width: 100px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
}

.playerfield .player_cards #player_deck,
.playerfield .player_cards #player_graveyard {
  width: 90px;
  height: 120px;
}

/* Enemy field specific styles */
.enemyfield {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enemyfield .enemy_hand td {
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
}

.enemyfield .enemy_cards td {
  width: 100px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
}

.enemyfield .enemy_cards #enemy_deck,
.enemyfield .enemy_cards #enemy_graveyard {
  width: 90px;
  height: 120px;
}

/* Animations */
#cards_container.shuffle {
  animation-name: shuffle;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes shuffle {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

/* Card positions */
.indeck {
  top: 0px;
}

.inhand {
  top: 128px;
}

.infrontline {
  top: 256px;
  left: 300px;
}



/* Card positions */
.indeck {
  top: 0px;
}

.inhand {
  top: 128px;
}

.infrontline {
  top: 256px;
  left: 300px;
}

.inbackline {
  top: 384px;
  left: 300px;
}

.ingraveyard {
  top: 512px;
}

